.createSchoolMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schoolSystem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
